.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 50px 0 0 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);

    >span {
        font-size: 24px;
        margin-left: 16px;
    }

    >img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 100%
    }
}