.player {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);

    >span {
        font-size: 24px;
        margin-right: 16px;
    }

    >img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 100%
    }
}

.player-active {
    background: rgba(255, 170, 39, 0.8);
    backdrop-filter: blur(10px);
    
    >span {
        font-size: 24px;
        margin-right: 16px;
    }

    >img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 100%
    }
}