.startscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    >img {
        max-width: 840px;
        width: 100%;
        object-fit: contain;
        filter: drop-shadow(2px 5px 20px #000000ad);
        margin-bottom: 32px;
        padding: 16px;
    }
}

.st-btn {
    border: none;
    padding: 16px 48px;
    background-color: #f8f9fa;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: #eeeeee;
    }
}

.st-btn-typ {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    color: #212529;
}