h1 {
    text-align: center;
}

.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    flex-direction: column;
}

.card-stack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cover {
    height: 120px;
    width: 80px;
}