h1 {
    text-align: center;
}

.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.card-stack {
    position: relative;
    margin-top: 500px;

    >img {
        position: absolute;
        height: 240px;
        transition: all 125ms ease-in-out;
    }
}

.first-card-of-stack {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    right:25px;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.take-card {
    animation: take-card-animation 1s ease-in-out;
    transform: scale(1.1) translateX(190px) translateY(-180px) rotate(-10deg);
    right:25px;
}

.played-card {
    transform: scale(1.1) translateX(190px) translateY(-180px) rotate(-10deg);
    right:25px;
}

@keyframes take-card-animation {
    0% {
        transform: scale(1.1) rotateY(90deg);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.1) translateX(190px) translateY(-180px) rotate(-10deg) rotateY(0deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}