.info-box {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

.current-card-container {
    height: 100%;
    width: 100%x;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
        font-size: 24px;
    }
}

.current-card-img {
    height: 70%;
    max-height: 140px;
    object-fit: contain;
}

.btn-card-info {
    position: absolute;
    top: 10px;
    right: -24px;
    height: 48px;
    width: 48px;
    display: flex;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}