.info-box {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);

    >span {
        font-size: 24px;
    }
}

.current-card-container {
    height: 132px;
    width: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-card-img {
    height: 100px;
    object-fit: contain;
}

.btn-card-info {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    display: flex;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}