<div class="info-box">
  <!-- <span>{{ gameData.currentCardTitelGlobal }}</span> -->
  <div class="current-card-container">
    @if (this.gameData.currentCard && this.gameData.currentCard.length > 0) {
    <img class="current-card-img" src="assets/img/cards/{{ gameData.currentCard }}.png" alt="">
    <button mat-fab color="primary" (click)="openCardInfo()" class="btn-card-info">
      <mat-icon>question_mark</mat-icon>
    </button>
    }
    @else if (this.gameData.players && this.gameData.players.length <= 0) {
      <span><strong>Please add a Player</strong></span>
    }
    @else {
      <span><strong>Pick a Card</strong></span>
    }
  </div>
</div>